.form{
  position: relative;
}
.form:focus-within{
    box-shadow: 0 0 0 3px #0093ff;
    border-radius: 8px;
}
.input {
    width: 300px;
    box-sizing: border-box;
    height: 40px;
    padding: 0px 8px;
    border: none;
    outline: none;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}

.btn {
    background-color: #0093ff;
    color: #fff;
    border: none;
    height: 40px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    padding: 7px 6px;
}